In [1]:
import json

In [2]:
import mysql.connector
from mysql.connector import Error

In [17]:
try:
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Dyq20150801@"
    )
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("CREATE DATABASE IF NOT EXISTS Twitterbase")
except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version  8.0.36

In [18]:
cursor.execute("USE Twitterbase")

In [19]:
import datetime

In [20]:
# #dropped old tables
# create_users_table_query = """
#     DROP TABLE USERS;
#     """
    
# # Execute the query to create the Users table
# cursor.execute(create_users_table_query)

In [21]:
# Creating the USER table
cursor.execute("""
CREATE TABLE IF NOT EXISTS USERS (
    ID BIGINT PRIMARY KEY,
    NAME VARCHAR(255),
    SCREEN_NAME VARCHAR(255),
    VERIFIED BOOLEAN,
    FOLLOWERS_COUNT INT,
    PROFILE_IMAGE_URL TEXT
);
""")

In [22]:
connection.commit()

In [23]:
# def insert_or_update_user(user_data, cursor):
#     user_data = data['user']
#     user_values = (
#         user_data['id'],
#         user_data['name'],
#         user_data['screen_name'],
#         user_data['verified'],
#         user_data['followers_count'],
#         user_data['profile_image_url']
#     )
#     insert_query = """
#     INSERT INTO USERS (ID, NAME, SCREEN_NAME, VERIFIED, FOLLOWERS_COUNT, PROFILE_IMAGE_URL)
#     VALUES (%s, %s, %s, %s, %s, %s)
#     ON DUPLICATE KEY UPDATE
#     NAME = VALUES(NAME),
#     SCREEN_NAME = VALUES(SCREEN_NAME),
#     VERIFIED = VALUES(VERIFIED),
#     FOLLOWERS_COUNT = VALUES(FOLLOWERS_COUNT),
#     PROFILE_IMAGE_URL = VALUES(PROFILE_IMAGE_URL)
#     """
#     cursor.execute(insert_query, user_values)

In [24]:
# with open("corona-out-3", "r") as file:
#     for line_number, line in enumerate(file, 1):
#         try:
#             if not line.strip():
#                 continue
#             data = json.loads(line)
#             # Process user data here for both tweets and retweets
#             if 'user' in data:
#                 insert_or_update_user(data['user'], cursor)

#         except json.JSONDecodeError:
#             print(f"Error processing line {line_number}: Invalid JSON")
#         except Exception as e:
#             print(f"Error processing line {line_number}: {e}")

In [25]:
connection.commit()

### Markdown

In [26]:
def query_user(searchterm, lim, metric):
    base_query = ""
    where_clause = ""
    if lim:
        if lim <=20:
            limit_clause = f" LIMIT {lim}"
    else:
        lim = 20
        limit_clause = f" LIMIT {lim}"
    
    # Determine the base query based on the metric
    if metric == "users":
        base_query = "SELECT * FROM USERS"
        # Always sort users by followers count in descending order
        order_clause = " ORDER BY FOLLOWERS_COUNT DESC"
        # If a search term is provided, add a WHERE clause to filter by NAME
        if searchterm:
            where_clause = f" WHERE NAME LIKE '%{searchterm}%'"
    
    # Combine the parts of the query
    query = f"{base_query}{where_clause}{order_clause}{limit_clause};"
    
    result = []
    print("query : ", query)
    cursor.execute(query)
    for row in cursor.fetchall():
#         print(row[1])
        result.append(row)         
#         print(result)
        
    return result  

## modified

In [27]:
# connection.close()

In [30]:
!jupyter nbconvert --to script MySQL_Load_Data.ipynb

[NbConvertApp] Converting notebook MySQL_Load_Data.ipynb to script
[NbConvertApp] Writing 3855 bytes to MySQL_Load_Data.py

In [29]:
# !jupyter nbconvert --to script --output MySQL_Load_Data.py